{% extends 'base.html.twig' %}

{% block title %}Edit Photos{% endblock %}

{% block body %}
    <h1>Edit Photos</h1>

    {{ include('photos/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('photos/_delete_form.html.twig') }}
{% endblock %}
