{% extends 'base.html.twig' %}

{% block title %}New Photos{% endblock %}

{% block body %}
    <div class="navbar">{% include ('/navbar/index.html.twig') %}</div>
    <div class="container">
        <h1>Ajouter une photo</h1>

        {{ include('photos/_form.html.twig') }}

    </div>
{% endblock %}
